@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #45C4B0;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #012030;
}

h1{
    color: #45C4B0;
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #03045E;
}

button{
    padding: 9px 25px;
    background-color: #DAFDBA;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #0077B6;
}

.section {
    padding: 2em;
    color: #FFFFFF;
    background-color: #012738;
}

.aboutme{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #012738, #2e73c8);
    padding: 20px;
}

.aboutme img{
    flex: 0 0 auto;
    margin-left: 600px;
    max-width: 200px; 
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;
    height: auto;
}

.aboutme p{
    max-width: 600px;
    padding: 20px;
}

.career{
    text-align: right;
    
}

.projects{
    text-align: left;
}

.site{
    text-align: left;
}

.contact{
    text-align: center;
    background-color: #012030;
    min-height: 22vh;
}

.gradient-container {

}

.gradient-container p {
    margin: 0;
    padding: 10px 0;
}